@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
/*@media only screen and (max-device-width: 900px) {
.menu { width:100%; }
}*/
body{
    background-image: url(./img/bg.jpg) ;
    background-size: cover;
}
h2 {
    margin: 0;
    text-align: center;
    font-size: 2em;
    font-family: Arial, sans-serif;
    color:rgb(0, 0, 0);
}
div {
    text-align: center;
}
.msg {
    border-radius: 7px;
    margin: 0 27%;
    width: 660px;
    text-align: center;
    font-size: 1.8em;
    font-family: Arial, sans-serif;
    color:rgb(255, 255, 255);
    background-color: #505050a9;
}
.table1 {
    margin: 1% 0 0 22.8%;
    width: 800px;
    font-size: 1.6em;
    border-radius: 7px;
}
th {
    font-family: Arial, sans-serif;
    color:rgb(255, 255, 255);
    background-color: #000000c0;
    font-size: 1em;
    padding: 11px;
    border-radius: 7px;
}
td {
    font-size: 0.8em;
    border-radius: 7px;
    padding: 13px 5px;
    color: #ffffff;
    background-color: #222222c9;

    font-family: Helvetica, sans-serif;
    text-align: center;
}
td input[type="text"] {
    width: 120px;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.7em;
    outline: none;
    background: none;
    color: rgb(0, 0, 0);
}
td input[type="number"] {
    width: 100px;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.7em;
    outline: none;
    background: none;
    color: rgb(0, 0, 0);
}
td input[type="button"] {
    width: 120px;
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(10, 255, 10);
    font-family: Helvetica, sans-serif;
    cursor: pointer;

}
::placeholder{
    font-size: 1em;
    color: rgb(255, 255, 255);
}
button {
    font-size: 1em;
    border-radius: 8px;
    border: none;
    margin: .5px;
    color: rgb(0, 0, 0);
    background: rgb(10, 255, 10); 
    font-family: OCR A Std, monospace;
    padding: 4px 23px;
}   
.logo img{
    height: 90px;
}